@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
:root {
  --primary-color: #3f7d20;
  --secondary-color: #72b01d;
  --light-color: #f3eff5;
  --grey-color: #454955;
  --dark-color: #0d0a0b;
}
.med {
  color: yellow;
}
.up {
  color: green;
}
.under {
  border-bottom: 2px solid var(--light-color);
}
body {
  background-color: var(--light-color);
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100% !important;
}
.nav {
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.links a {
  margin: 0 16px;
  color: var(--light-color);
  font-size: 18px;
  font-weight: 500;
}
.links a:hover {
  color: var(--dark-color);
}
/* Showcase */
.carousel-inner {
  height: 100vh;
}
.carousel-caption h3 {
  margin-top: -550px !important;
  color: var(--primary-color);
  font-size: 3.5rem;
  font-weight: 700;
}
.carousel-caption p {
  font-size: 28px;
  color: var(--primary-color);
  font-weight: 700;
}
/* Info Section */
.content-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.close-btn {
  background-color: var(--primary-color);
  color: var(--light-color);
  transition: 0.4s;
}
.close-btn:hover {
  color: var(--light-color);
  background-color: var(--secondary-color);
  letter-spacing: 2px;
}
.box-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 35px 0;
}
.box-cont .box {
  position: relative;
  background-color: var(--grey-color);
}
.box-cont .box .imgbox {
  position: relative;
  overflow: hidden;
}
.box-cont .box .imgbox img {
  max-width: 100%;
  transition: 2s;
  height: 100%;
}
.box-cont .box:hover .imgbox img {
  transform: scale(1.2);
}
.box-cont .box .details {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: rgba(29, 129, 42, 0.5);
  transform: scaleY(0);
  transition: 0.5s;
}
.box-cont .box:hover .details {
  transform: scaleY(1);
}
.box-cont .box .details .box-con {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: var(--light-color);
}
.boxes h1 span {
  border-bottom: 4px solid var(--primary-color);
}
.boxes h1 {
  padding-bottom: 10px;
}
/* SLider */
.supporters {
  margin: 0 !important;
  padding: 0 !important;
  position: fixed;
  bottom: -10px;
  left: 0;
  right: 0;
}
.slider {
  background-color: #fff;
  width: 100%;
  height: 70px;
  overflow: hidden;
  position: relative;
  margin: auto;
}
.slider::before,
.slider::after {
  content: "";
  width: 200px;
  height: 100px;
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  z-index: 4;
}
.slider::before {
  top: 0;
  left: 0;
}
.slider::after {
  top: 0;
  right: 0;
  transform: rotateZ(180deg);
}
.slider-track {
  display: flex;
  max-width: 1300px;
  animation: scroll 10s linear infinite;
}
.slide .slide-content {
  width: 250px;
  padding: 10px;
  height: 100px;
}
.cool {
  margin-left: 400px;
}
.slide-content span {
  margin-left: 10px;
}
.slidertxt {
  background: var(--dark-color);
  color: var(--light-color);
  height: 79px;
  margin-top: 10px;
  padding: 10px;
  text-align: right;
}
.solve {
  display: flex;
  justify-content: flex-end;
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-210px * 7));
  }
}
/* Table */
.table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  border-spacing: 0;
}
.table thead th {
  text-transform: uppercase;
  padding: 0.8rem;
}
.table thead th:nth-child(even) {
  text-align: center;
}
.table thead th:nth-child(3) {
  text-align: center;
}
.table tbody tr td {
  color: var(--dark-color);
  padding: 0.8rem 1.2rem;
  text-align: center;
}
.table tbody tr td:first-child {
  text-align: left;
}
.table tbody tr:nth-child(odd) {
  background-color: var(--primary-color);
}
/* Footer */
.footer {
  background: var(--primary-color);
  padding: 30px 10px;
  color: var(--light-color);
  padding-bottom: 5rem !important;
}
.gris,
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.contact h4 {
  text-decoration: underline;
}
.build p i {
  margin-right: 6px;
}
.social a {
  color: var(--light-color);
  font-size: 20px;
  padding: 15px 10px;
}
/* Hamburger */
.bars {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 1002;
  display: none;
}
.bars span {
  display: block;
  height: 3px;
  background-color: var(--light-color);
  margin: 6px 0;
  position: relative;
  transition: 0.3s linear;
}
.bars span:nth-child(2) {
  width: 50%;
  transition: 0.5s linear;
}
.bars:hover span:nth-child(2) {
  width: 100%;
}
/* Styliong For About Html */

.abt-show {
  background-image: url(../images/12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 90vh;
}
.abt-show h1 {
  padding-top: 16rem;
  text-align: center;
  color: var(--light-color);
  font-size: 4rem;
}
.abt-show p {
  color: var(--light-color);
  font-size: 2rem;
}
.history {
  margin: 60px 0;
  text-align: justify;
}
.history h2 {
  margin-bottom: 40px;
  padding-bottom: 12px;
}

/* Staff Section with Product Section*/
.staff,
.product {
  margin: 30px 0;
}
.product {
  margin: 60px 0 !important;
  background-color: var(--primary-color);
  padding: 30px 0;
  color: var(--light-color);
}
.staff h3 span,
.history h2 span {
  margin-top: 3px;
  border-bottom: 3px solid var(--primary-color);
}
.product h3 span {
  border-bottom: 3px solid var(--light-color);
}
.staff-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  gap: 30px;
}
.staff-innertxt h3,
.product-innertxt h3 {
  margin-bottom: 20px;
}
@media screen and (max-width: 700px) {
  .slider::before,
  .slider::after {
    background: none;
  }
  .slide-content {
    font-weight: 500;
  }
  /* ABout style */
  .rem {
    display: none;
  }
  .content p {
    text-align: justify;
  }
  .abt-show h1 {
    padding-top: 10rem;
    font-size: 3rem;
  }
  .abt-show p {
    font-size: 1.2rem;
  }
  .abt-show {
    height: 60vh;
  }
  .product-innertxt p,
  .staff-innertxt p {
    text-align: justify;
  }
  /* HOme Style */
  .table tbody tr td:nth-child(4),
  .table thead tr th:nth-child(4) {
    display: none;
  }
  .tabs {
    overflow: hidden;
  }
  .box-cont {
    grid-template-columns: 1fr;
  }
  .info-section {
    padding: 30px !important;
    margin-top: 10px;
    text-align: center;
  }
  .carousel-inner {
    height: auto;
  }

  .carousel-caption h3 {
    margin-top: 0px !important;
    font-size: 1.6rem;
  }
  .carousel-caption p {
    font-size: 12px;
  }
  .gris,
  .grid,
  .staff-box {
    grid-template-columns: 1fr;
  }
  .links {
    height: 100vh;
    width: 100%;
    background-color: rgba(29, 129, 42, 0.842) !important;
    position: fixed;
    top: 0;
    right: -100%;
    padding: 80px 120px !important;
    z-index: 1001;
    transition: 0.3s linear;
  }
  .bars {
    display: block;
    margin-left: 50%;
  }
  .links a {
    display: block;
    font-size: 24px;
    margin: 30px 0;
    color: white;
    text-align: center;
  }
  .links.lol {
    right: 0;
    width: 100%;
    max-width: 740px;
    display: block;
  }
  .bars.lol span:nth-child(1) {
    transform: rotate(-45deg);
    top: 4px;
  }
  .bars.lol span:nth-child(2) {
    opacity: 0;
  }
  .bars.lol span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 14px;
  }
}
